body{
    margin:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}
nav{
    font-weight:500;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: #7dbcef;
    
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
ul.menu{
    list-style-type: none;
    padding:0;
    margin:0;
    background-color: transparent;
}
nav > ul{
    justify-content:center;
    font-size: 15px;
}
nav > ul.menu > li > a{
    display:block;
    color: rgb(45, 46, 47);
    padding: 0.5rem 2rem;
    justify-content:center;
    text-transform: uppercase;
    position:relative;
    font-weight: bold;
}
ul.menu > li > a.active{
    background-color:rgb(63, 63, 228);
    color: aliceblue;
}
.home{
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.home .slide{
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../image/university.jpg);
    background-size: cover;
    background-position: center;
    z-index: 1;
    display: none;
    animation: slide 2s ease;
}
.home .slide.active{
    display: flex;
}
@keyframes slide {
    0%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
.container{
    max-width: 1170px;
    margin: auto;
}
.home .container{
    flex-grow: 1;
}
.home .caption{
    width: 50%;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.468);
    padding: 30px;
}
.home .caption h1{
    font-size: 42px;
    margin: 0;
    color: #ffeaa7;
}
.home .caption h1,.home .caption h2{
    animation: captionText .5s ease forwards;
    opacity: 0;
    animation-delay: 0.75s;
}
.home .caption h2{
    font-size: 30px;
    margin: 0;
    color: #ffeaa7;
}
.home .caption p{
    font-size: 18px;
    color:aliceblue;
    margin: 15px 0 30px;
}
.home .caption p{
    animation: captionText .5s ease forwards;
    opacity: 0;
    animation-delay: 0.95s;
}
.home .caption a{
    color: lightblue;
}
@keyframes captionText {
    0%{
        opacity:0;
        transform: translate(-100px);
    }
    100%{
        opacity: 1;
        transform: translate(0px);
    } 
}
.home .controls .prev, .home .controls .next{
    position: absolute;
    z-index: 2;
    top: 50%;
    height: 40px;
    width: 40px;
    margin-top: -20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.221);
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.25s ease-in-out;
}
.home .controls .prev:hover, .home .controls .next:hover{
    background-color: black;
}
.home .controls .prev{
    left: 0;
}
.home .controls .next{
    right: 0;
}
.home .indicator{
    position: absolute;
    left: 50%;
    bottom: 30px;
    z-index: 2;
    transform: translateX(-50%);
}
.home .indicator div{
    display: inline-block;
    width: 25px;
    height: 25px;
    color: #ffffff;
    background-color:rgba(0, 0, 0, 0.221);
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    margin: 0 3px;
    cursor: pointer;
}
.home .indicator div.active{
    background-color: black;
}